:root {
    --primary-color: #111111;
    --secondary-color: #452475;
    --accent-one: #2b2b2b;
    --accent-two: #f2f4f5;

    /* Font */
    --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* @media (min-width: 640px) { ... }


     @media (min-width: 768px) { ... }


      @media (min-width: 1024px) { ... }

      @media (min-width: 1280px) { ... }
       @media (min-width: 1536px) { ... } */
  }
  /* Contact Section Styles */

  .contact__content{
    margin-bottom: 2rem;
      text-align: center;
      letter-spacing: 1px;
  }
  .contact__content > h4 {
    color: var(--accent-one);
  }
  .contact__content > h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
.contact__content > h2 > span {
  color: var(--secondary-color);
}
  .contact__content p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .digital__footprint {
   visibility: hidden;
   margin-bottom: -12rem;
  }
  .contact__container > form {
    display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
  }
  .contact__container > form .MuiFormControl-root {
    margin: 1rem 0;

  }
  .contact__container > form .MuiFormLabel-root.Mui-focused {
    color: var(--secondary-color) !important;
  }
  .contact__container > form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    /* Styling for border when user clicks inside of input */
    border-color: var(--secondary-color);
  }
  /* .contact__container > form .MuiInput-underline:after{
    border-color: var(--secondary-color);
  } */
  .contact__container > form  .MuiInputBase-inputMultiline {
    height: 10rem;
    margin: 1rem 0;
    line-height: 1.5;
  }
  .form__btn.MuiButton-contained {
    background-color: var(--secondary-color);
    color: var(--accent-two);
    margin: 0 auto;
  }

  @media (min-width: 534px) {
    .digital__footprint {
      margin-bottom: -9rem;
  }
  }
  @media (min-width: 1024px) {
    .contact__container {
      padding: 0 4rem;
    }
  }
  @media (min-width: 1280px) {
    .contact__container {
      display: flex;
      justify-content: space-evenly;
    }
    .contact__content {
      width: 30%;
      text-align: left;
  }
    .digital__footprint {
       visibility: visible;
       flex-direction: column;
    }
    .digital__footprint > .contact__content {
      width: 89vw;

    }
    .digital__footprint > .contact__content h3 {
      font-size: 1rem;

    }
    .digital__footprint .contact__content  h2 {
      font-size: 1.5rem;

  }
  .social__profiles.contact__social {
    display: flex;
    justify-content: flex-start;
    margin-top: -2rem;
}
.social__profiles.contact__social  .social-icons {
  margin-right: 2rem;
}
.social__profiles.contact__social > .social-icons .MuiSvgIcon-root {
  font-size: 1.5rem;
}
    .contact__container > form {
      width: 40%;
    }
    form > .MuiOutlinedInput-multiline {
      height: 11rem;
  }

  }
  @media (min-width: 1536px) {
    .contact__content > h2 {
      font-size: 3.5rem;
  }

.contact__content p {
  font-size: 1.3rem;
}
  .digital__footprint {
    margin-top: 1rem;
}
  }