:root {
    --primary-color: #111111;
    --secondary-color: #452475;
    --accent-one: #2b2b2b;
    --accent-two: #f2f4f5;

    /* Font */
    --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* @media (min-width: 640px) { ... }


     @media (min-width: 768px) { ... }


      @media (min-width: 1024px) { ... }

      @media (min-width: 1280px) { ... }
       @media (min-width: 1536px) { ... } */
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: var(--font);
    background-color: var(--accent-two);
    color: var(--primary-color);
    line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--accent-one);
}
.MuiFab-root  {
  background-color: var(--secondary-color) !important;
  color: var(--accent-two) !important;
}