:root {
    --primary-color: #111111;
    --secondary-color: #452475;
    --accent-one: #2b2b2b;
    --accent-two: #f2f4f5;

    /* Font */
    --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: var(--font);
    background-color: var(--accent-two);
    color: var(--primary-color);
}
button {
  background-color: var(--secondary-color);
}
button:hover {
  background-color: var(--accent-one);
}