:root {
    --primary-color: #111111;
    --secondary-color: #452475;
    --accent-one: #2b2b2be;
    --accent-two: #f2f4f5;

    /* Font */
    --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.main-title {
    color: var(--secondary-color);
}
