:root {
  --primary-color: #111111;
  --secondary-color: #452475;
  --accent-one: #2b2b2b;
  --accent-two: #f2f4f5;

  /* Font */
  --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* @media (min-width: 640px) { ... }


   @media (min-width: 768px) { ... }


    @media (min-width: 1024px) { ... }

    @media (min-width: 1280px) { ... }
     @media (min-width: 1536px) { ... } */
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
     margin: 3rem auto;
    padding: 0 2rem;
    /* height: 200vh; */
}

  @media (min-width: 1024px) {
    .wrapper {
      width: 100%;
      padding: 0 3rem;
    }

  }

   @media (min-width: 1380px) {
     .wrapper {
      padding: 0 8rem;
     }

   }
   @media (min-width: 1536px) {
     .wrapper {
        padding: 0 13rem;
     }

   }
   @media (min-width: 1900px) {
    .wrapper {
      padding: 0 22rem;
    }



   }