:root {
    --primary-color: #111111;
    --secondary-color: #452475;
    --accent-one: #2b2b2b;
    --accent-two: #f2f4f5;

    /* Font */
    --font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* @media (min-width: 640px) { ... }


     @media (min-width: 768px) { ... }


      @media (min-width: 1024px) { ... }

      @media (min-width: 1280px) { ... }
       @media (min-width: 1536px) { ... } */
  }
  /* Profile Content Section */
.profile__container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;

    /* margin-bottom: 10rem; */
  }
  .profile__title {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .profile__title > a > span {
    color: var(--secondary-color);
  }
  .profile__desc {
    color: var(--accent-one);
    letter-spacing: 2px;
    text-align: center;
    font-size: 1rem;
  }
  .divider {
    border-bottom: 5px solid var(--secondary-color);
    width: 30%;
    margin: .8rem auto;
  }
  .profile__about {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  .profile__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .profile__btns .MuiButton-contained{
     /* Individual Button inside of Profile About Section */
    background-color: var(--secondary-color);
    color: var(--accent-two);
    margin: .5rem 0;

  }
  .profile__btn .MuiButton-label {
    /* Inside of Button  */
    padding: .8rem;

  }
  .profile__btn .MuiSvgIcon-root {
    font-size: 1.5rem;
    margin-right: .3rem;
  }
  /* Profile Imaga Section */
  .social__profiles {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  .social-icons .MuiSvgIcon-root {
    font-size: 2rem;
    fill: var(--secondary-color);
  }
  .social-icons >.MuiSvgIcon-root:active {
    fill: var(--accent-one) !important;
  }

  @media (min-width: 640px) {


    .profile__content {
      margin-top: -1rem;
  }
    .profile__about {
      margin-top: 2rem;
  }
    .profile__image {
      margin: 0 auto;
  }
  .social__profiles {
    position: relative;
    top: 1rem;
  }
   }

   @media (min-width: 768px) {
     .divider {
       width: 18%;
     }


     }
    @media (min-width: 1024px) {

      .profile__container {
        flex-direction: row;
        justify-content: space-evenly;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        top: 0;
        /* margin-right: 1rem; */
        padding: 0 4rem;
      }
      .profile{
        width: 100%;
      }
      .profile__title,
      .profile__desc,
      .profile__about {
        text-align: left;
      }
      .divider {
        margin: .5rem 1rem 0 0;
      }
      .profile__about {
        font-size: 1.1rem;
        margin-top: 1rem;
      }
      .profile__btns {
        margin: 0 auto;
        flex-direction: row;
      }
      .profile__btns .MuiButton-contained {
        justify-content: space-evenly;
        margin-right: 3rem;
      }
      .profile__btns .MuiButton-contained:hover {
        background-color: var(--accent-one);
      }

      .profile__btn .MuiButton-label {
        padding: .3rem;
    }
      .profile__image {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        position: relative;
      left: 3.5rem;
      }
      .social__profiles {
        justify-content: flex-start;
      }
      .social-icons {
        margin-right: 3rem;
      }
      .social-icons >.MuiSvgIcon-root:hover {
        fill: var(--secondary-color) !important;
      }


    }
    @media (min-width: 1280px) {

      .profile__image {
        width: 70%;
        margin-bottom: 3rem;
      }

     }

     @media (min-width: 1536px) {
       .profile__image {
        width: 47vw;
       }

      .profile__title {
        font-size: 3.5rem;
      }

      .profile__about {
        font-size: 1.3rem;
      }
     }
     @media (min-width: 1900px) {

      .profile__title {
        font-size: 5rem;
      }
      .profile__desc {
        font-size: 1.3rem;
      }


     }
     @media (min-width: 2100) {
      .profile__about {
        font-size: 1.7rem;
        line-height: 1.7;
    }
    .profile__title {
      font-size: 6rem;
  }
  .profile__desc {
    font-size: 2rem;
}
.social-icons .MuiSvgIcon-root {
  font-size: 3rem;
}
     }